@{
    ViewBag.Title = "Blow Out!";
}

<div class="container-fluid">
    <div class="row">
        <div class="fullsize">
            <img class="mainimg" src="http://www.conn-selmer.com/files/6413/3614/2809/TUBA_PG.jpg" />
        </div>
    </div>
</div>

<div class="jumbotron fullsize" style="text-align: center">
    <h1>Rent Here!</h1>
    <p class="lead">We rent new and used instruments all day every day</p>
    <p><a href="~/Home/Rentals" class="btn btn-primary btn-lg">Rent Now &raquo;</a></p>
</div>

<div class="jumbotron fullsize" style="text-align: center">
    <blockquote>
        <p style="text-align: left; font-family: cursive">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself."</p>
        <footer style="text-align: right; font-size: small;">Johann Sebastian Bach</footer>
    </blockquote>
</div>



